:root {
  background-color: rgb(73, 69, 69);
  --main-bg-color: rgb(73, 69, 69);
  --main-color: rgb(219, 202, 202);
  --alt-bg-color: rgb(47, 45, 45);
}

body {
  margin: 0;
}

header {
  box-shadow: 0 0 5px -2px;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

footer {
  padding: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

main {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

th, td{
  color: var(--main-color);
  
}


td>a{
  color: var(--main-color);
}

table{
  margin: 1em;
  box-shadow: 0 0 10px 1px var(--main-color);
  border-radius: 10px;
}

tr:nth-child(odd) {background: var(--alt-color)}


.note-img{
  max-width: 100%;
  border-radius: 10px;
}

#note-big-img{
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.app-title {
  font-weight: bold;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: none;
}

.active{
    border-bottom: 2px solid var(--main-color) !important;
}

section{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.app-title-row {
  background-color: grey;
  margin-top: none;
  color: black;
  border: 1px solid;
}

.link{
  color: var(--main-color);
}

.user-menu{
  border-left: 1px solid black;

  
}

.user-menu > ul, li{
  display: inline;
  margin-left: 0.5em;
}

.user-menu > ul, li, a{
  list-style: none;
}

.user-menu>ul>li>a{
  text-decoration: none;
  color: black;
}

input[type=text],
input[type=email],
input[type=number],
select,
input[type=password] {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

input[type=email]:active, 
input[type=password]:active, 
input[type=text]:active, 
input[type=number]:active, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=text]:focus, 
input[type=password]:focus {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color);
}

input[type=email]:disabled, 
input[type=password]:disabled, 
input[type=text]:disabled, 
input[type=number]:disabled,
select:disabled{
  color: var(--main-color);
  background-color: black;
}

.new{
  max-width: 90vw !important;
  margin-bottom: 5em;
  border-bottom: 3px solid var(--alt-bg-color);
  padding-bottom: 0.5em;
}

.meta-info{
  font-size: 13px;
}

.news-title{
  font-size: 20px;
  font-weight: bold;
}

.ratings{
  box-shadow: 0 0 5px -1px black;
  padding-bottom: 0.5em;
  padding-right: 2em !important;
  margin-top: 1em !important;
}

textarea{
  background-color: var(--main-bg-color);
  color: var(--main-color);
}