:root {
  background-color: rgb(73, 69, 69);
  --main-bg-color: rgb(73, 69, 69);
  --main-color: rgb(219, 202, 202);
}

body {
  margin: 0;
}

header {
  box-shadow: 0 0 5px -2px;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

footer {
  padding: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

main {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.note-img{
  max-width: 100%;
  border-radius: 10px;
}

#note-big-img{
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.app-title {
  font-weight: bold;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: none;
}

.active{
    border-bottom: 2px solid var(--main-color);
}

section{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.app-title-row {
  background-color: grey;
  margin-top: none;
  color: black;
  border: 1px solid;
}

.user-menu{
  border-left: 1px solid black;

  
}

.user-menu > ul, li{
  display: inline;
  margin-left: 0.5em;
}

.user-menu > ul, li, a{
  list-style: none;
}

.user-menu>ul>li>a{
  text-decoration: none;
  color: black;
}

input[type=text],
input[type=email],
input[type=password] {
  background-color: var(--main-bg-color);
}

input[type=email]:active, 
input[type=password]:active, 
input[type=text]:active, 
input[type=email]:focus, 
input[type=text]:focus, 
input[type=password]:focus {
  background-color: var(--main-bg-color) !important;
  color: var(--main-color);
}