:root {
  background-color: rgb(73, 69, 69);
  --main-bg-color: rgb(73, 69, 69);
  --main-color: rgb(219, 202, 202);
}

body {
  margin: 0;
}

header {
  box-shadow: 0 0 5px -2px;
  padding: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

footer {
  padding: 0.5em;

  background-color: var(--main-bg-color);
  color: var(--main-color);
}

main {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.note-img{
  max-width: 100%;
  border-radius: 10px;
}

#note-big-img{
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.app-title {
  font-weight: bold;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: none;
}

.active{
    border-bottom: 2px solid var(--main-color);
}

section{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
